body {
    background: white;
}

#post-title {
    text-align: center;
}

#post-author-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

#post-container button {
    padding: 9px 15px;
    background-color: #ed2553;
    color: white;
    border: none;
    font-size: 14px;
    box-shadow: 0px 4px 9px 0px #373636;
    transition: box-shadow 0.5s;
}

#post-container button:hover {
    box-shadow: 0px 8px 16px 0px #373636;
}

#post-save {
    display: none;
}

#post-text {
    margin: 15px 0;
    line-height: 1.5;
    padding: 25px;
}

#post-like-count {
    font-size: 15px;
    color: grey;
    margin: 10px 0;
}

#comments-container-wrapper {
    width: 925px;
    margin: 25px 0;
}

#comment-input {
    margin: 10px 0;
    width: 100%;
    resize: none;
}

#all-comments {
    font-weight: bold;
    margin: 20px 0 10px 0;
}

#comments-container {
    background-color: #eceaea;
    padding: 10px;
}

.comment {
    margin: 10px 0;
    padding: 20px 10px;
    background-color: white;
    font-size: 14px;
}