body {
    background: #ffeedd;
}

#posts-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 25px;
}

.post-card-container {
    flex-basis: 50%;
    padding: 9px 25px;
}

.post-card {
    border-radius: 10px;
    box-shadow: 0px 4px 9px 0px #373636;
    transition: box-shadow 0.5s;
}

.post-card:hover {
    box-shadow: 0px 9px 16px 0px #373636;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border-radius: 10px;
    background-color: white;
}

.username {
    padding: 9px;
    margin: 0px;
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
}

.post-content {
    flex: 1;
    background-color: #eceaea;
    border-radius: 0 10px 10px 0;
}

.post-text {
    color: black;
    line-height: 1.1;
    margin: 9px 16px;
}

.post-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    color: #5b5a5a;
    margin: 9px 16px;
}

.post-heading {
    flex: 1;
    color: #5B5A5A;
    margin: 0px;
}

.post-delete {
    color: #5B5A5A;
    border: none;
    background: none;
}

#modal-popup-deletepost {
    display: none;
    height: 100px;
    width: 360px;
    margin-left: -180px;
    top: 240px;
}

#deletepost-title {
    margin: 9px;
}

#deletepost-choices {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 16px 9px;
}

#deletepost-choices button {
    padding: 4px 25px;
    color: white;
    border: none;
    font-size: 14px;
}

#deletepost-yes {
    background-color: #5eb761;
}

#deletepost-no {
    background-color: #d13a39;
}

.post-ellipsis-container {
    margin: 0 16px;
    text-align: right;
}

.post-ellipsis {
    color: #5B5A5A;
    border: none;
    background: none;
}